#root {
  /* max-width: 1280px; */
  height: 100vh;
  background-color: #7c3aed;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* body {
  min-height: 100vh;
  max-width: 1280px;
  overflow-x: hidden;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}  */