#root {
  /* max-width: 1280px; */
  /* height: 100vh; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
