header {
  text-align: center;
  padding: 5px 5px;
}

.logo-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo-name img {
  width: 120px;
  height: 50px;
  object-fit: contain;
}

.logo-name p {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  color: #333;
  margin: 0;
  width: 70%;
  text-align: center;
}

.main-container {
  background-image: url("../../assets/Hero-Background-notecode.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 96vh; /* added*/
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
}

.editor-main-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.editor-wrapper {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  width: 100%;
  overflow: hidden;
  z-index: 1; /*added*/
}

.controls-row {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
  position: absolute;
  top: 570px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* Dropdown styles */
.custom-dropdown {
  padding: 0.4rem 0.5rem;
  border-radius: 12px;
  font-size: 0.825rem;
  font-family: "outfit", sans-serif;
  font-weight: 600px;
  background-color: #ced6e1;
  color: #121826;
  appearance: none;
  cursor: pointer;
  transition: border 0.3s ease;
}

.custom-dropdown:hover {
  border-color: #888;
}

.dropdown-group {
  display: flex;
  flex-direction: rows;
  gap: 1rem;
  margin-right: 130px;
}

/* Share button style */
.share-button {
  background-color: #406aff;
  color: white;
  padding: 0.6rem 1.7rem;
  border: none;
  border-radius: 24px;
  font-size: 1.2rem;
  font-family: "outfit", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.share-button:hover {
  background-color: #0056b3;
}

/* Responsive behavior */
@media (min-width: 768px) {
  .main-container {
    height: 89vh;
    /* margin-bottom: 150px; */
  }

  .editor-wrapper {
    width: 90%;
    max-width: 700px;
  }

  .controls-row {
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    max-width: 700px;
  }

  .dropdown-group {
    flex-direction: row;
    gap: 1rem;
  }
}

@media (min-width: 1357px) {
  .controls-row {
    flex-direction: row;
    justify-content: space-between;
    width: 42%;
    max-width: 700px;
  }

  .dropdown-group {
    flex-direction: row;
    gap: 1rem;
  }
}

@media (min-width: 1470px) {
 .main-container {
  height: 100vh;
  padding: 30px;
}

.main {
  /* height: 100vh; */
  width: 100%;
}

.editor-main-container {
  width: 100%;
  padding: 5rem 0;
}

.editor-wrapper {
  width: 50%;
}
}
